In [1]:
import tensorflow as tf

dataset = tf.keras.utils.get_file(
    fname="aclImdb.tar.gz", 
    origin="http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz", 
    extract=True,
)

Downloading data from http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz
84131840/84125825 [==============================] - 4s 0us/step

In [2]:
import os
import glob
import pandas as pd
dn = os.path.split(dataset)[0]

def read_file(fn):
    with open(fn, "r", encoding="utf-8") as f:
        content = f.read()
    return content

def get_data(dn):
    posfn = glob.glob("{}/pos/*".format(dn))
    negfn = glob.glob("{}/neg/*".format(dn))
    postarget = [1] * len(posfn)
    negtarget = [0] * len(negfn)
    df = pd.DataFrame({
        "fname":posfn + negfn,
        "target":postarget + negtarget
    })
    df["content"] = df["fname"].apply(read_file)
    return df

train_df = get_data(os.path.join(dn, "aclImdb", "train"))
train_df

                                                   fname  ...                                            content
0      /root/.keras/datasets/aclImdb/train/pos/4971_7...  ...  This is an absurdist dark comedy from Belgium....
1      /root/.keras/datasets/aclImdb/train/pos/9502_8...  ...  I liked this movie very much. Although this mo...
2      /root/.keras/datasets/aclImdb/train/pos/10650_...  ...  I rented this movie this past weekend, cranked...
3      /root/.keras/datasets/aclImdb/train/pos/1683_7...  ...  I saw this film as it was the second feature o...
4      /root/.keras/datasets/aclImdb/train/pos/5784_8...  ...  I've noticed that a lot of people who post on ...
...                                                  ...  ...                                                ...
24995  /root/.keras/datasets/aclImdb/train/neg/6299_1...  ...  This inept adaptation of arguably one of Marti...
24996  /root/.keras/datasets/aclImdb/train/neg/2270_1...  ...  The only thing that kept me from vomiting afte...
24997  /root/.keras/datasets/aclImdb/train/neg/3347_3...  ...  I am not sure why I like Dolph Lundgren. I gue...
24998  /root/.keras/datasets/aclImdb/train/neg/9728_3...  ...  Tobe Hooper has made great movies so I was cer...
24999  /root/.keras/datasets/aclImdb/train/neg/237_1.txt  ...  After being hugely entertained by Mr. Brosnan'...

[25000 rows x 3 columns]

In [3]:
test_df = get_data(os.path.join(dn, "aclImdb", "test"))
test_df

                                                   fname  ...                                            content
0      /root/.keras/datasets/aclImdb/test/pos/1010_9.txt  ...  Hehehe. This was one of the best funny road mo...
1      /root/.keras/datasets/aclImdb/test/pos/10037_7...  ...  This movie is good for entertainment purposes,...
2      /root/.keras/datasets/aclImdb/test/pos/10135_8...  ...  Corniness Warning. As many fellow IMDb users a...
3      /root/.keras/datasets/aclImdb/test/pos/11555_7...  ...  This movie starts off somewhat slowly and gets...
4      /root/.keras/datasets/aclImdb/test/pos/3466_10...  ...  I got some free tickets via the Times to see t...
...                                                  ...  ...                                                ...
24995  /root/.keras/datasets/aclImdb/test/neg/5389_4.txt  ...  It was definitely worth viewing, I don't regre...
24996  /root/.keras/datasets/aclImdb/test/neg/8021_1.txt  ...  I can confidently say that this is the worst f...
24997    /root/.keras/datasets/aclImdb/test/neg/88_3.txt  ...  Wow, what an overrated movie this turned out t...
24998  /root/.keras/datasets/aclImdb/test/neg/2270_1.txt  ...  The comparisons between the 1995 version and t...
24999   /root/.keras/datasets/aclImdb/test/neg/237_1.txt  ...  The Robot vs. the Aztec Mummy was one of the s...

[25000 rows x 3 columns]

In [4]:
# tokenize: 數到底有多少種詞
from keras.preprocessing.text import Tokenizer
tokenizer = Tokenizer(num_words=2000)
tokenizer.fit_on_texts(train_df["content"])

Using TensorFlow backend.

In [0]:
# 可以檢視tokenizer成果
# (0不用) 拿來做padding
tokenizer.word_index
tokenizer.index_word

In [6]:
# Step1. 把文字轉成數字
x_train_tok = tokenizer.texts_to_sequences(train_df["content"])
x_test_tok = tokenizer.texts_to_sequences(test_df["content"])
pd.DataFrame(x_train_tok)

       0     1     2     3     4     5     ...  1705  1706  1707  1708  1709  1710
0        11     6    32   462   209    36  ...   NaN   NaN   NaN   NaN   NaN   NaN
1        10   420    11    17    52    73  ...   NaN   NaN   NaN   NaN   NaN   NaN
2        10  1605    11    17    11   498  ...   NaN   NaN   NaN   NaN   NaN   NaN
3        10   216    11    19    14     9  ...   NaN   NaN   NaN   NaN   NaN   NaN
4       204  1918    12     3   173     4  ...   NaN   NaN   NaN   NaN   NaN   NaN
...     ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
24995    11  1252     4    28     4  1592  ...   NaN   NaN   NaN   NaN   NaN   NaN
24996     1    61   151    12   826    69  ...   NaN   NaN   NaN   NaN   NaN   NaN
24997    10   241    21   249   135    10  ...   NaN   NaN   NaN   NaN   NaN   NaN
24998    44    90    84    99    35    10  ...   NaN   NaN   NaN   NaN   NaN   NaN
24999   100   109    31   440   236    14  ...   NaN   NaN   NaN   NaN   NaN   NaN

[25000 rows x 1711 columns]

In [7]:
# Step2. 截長補短
from keras.preprocessing.sequence import pad_sequences
x_train_pad = pad_sequences(x_train_tok, maxlen=200)
x_test_pad = pad_sequences(x_test_tok, maxlen=200)
pd.DataFrame(x_train_pad)

       0     1     2    3    4    5    ...   194   195   196   197   198  199
0        0     0     0    0    0    0  ...  1217     2    70   287   126   55
1        0     0     0    0    0    0  ...   964    11    17    30   690  454
2        0     0     0    0    0    0  ...    43    17    10    59   383    9
3       63   283  1014   73   36   11  ...    71     1   125   570     2  486
4        0     0     0    0    0    0  ...    18    42   207    74   438    2
...    ...   ...   ...  ...  ...  ...  ...   ...   ...   ...   ...   ...  ...
24995    0     0     0    0    0    0  ...  1240   147    25  1237  1192  795
24996    0     0     0    0    0    0  ...    11  1145  1651     1    83   55
24997  565  1170    33   79  112  844  ...     3     5   103     9    18   10
24998   37    33   328  188  760   50  ...   178    49   917   103    11   28
24999    0     0     0    0    0    0  ...    94    69  1828   287   690  981

[25000 rows x 200 columns]

In [8]:
from keras.models import Sequential
from keras.layers import Embedding
from keras.layers import Flatten, Dense, Dropout

INPUT_DIM = 2001
EMBEDDING_DIM = 64
INPUT_LENGTH = 200

model = Sequential()
# 2000(種) + 1(0:padding)
model.add(Embedding(INPUT_DIM, 
                    EMBEDDING_DIM, 
                    input_length=INPUT_LENGTH))
model.add(Flatten())
model.add(Dense(128, activation="relu"))
model.add(Dropout(0.25))
model.add(Dense(1, activation="sigmoid"))
model.summary()

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:66: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:148: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3733: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, 200, 64)           128064
_________________________________________________________________
flatten_1 (Flatten)          (None, 12800)             0
_________________________________________________________________
dense_1 (Dense)              (None, 128)               1638528
_________________________________________________________________
dropout_1 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 129
=================================================================
Total params: 1,766,721
Trainable params: 1,766,721
Non-trainable params: 0
_________________________________________________________________

In [9]:
model.compile("adam", 
              loss="binary_crossentropy", 
              metrics=["accuracy"])

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3657: The name tf.log is deprecated. Please use tf.math.log instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/nn_impl.py:183: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [12]:
import numpy as np
from keras.callbacks import ModelCheckpoint
from keras.callbacks import EarlyStopping
checkpoint = ModelCheckpoint("imdb.h5", save_best_only=True)
earlystop = EarlyStopping(patience=3, restore_best_weights=True)
model.fit(x_train_pad, 
          np.array(train_df["target"]),
          batch_size=200,
          epochs=100,
          validation_split=0.1,
          callbacks=[checkpoint, earlystop],
          verbose=2)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1020: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3005: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

Train on 22500 samples, validate on 2500 samples
Epoch 1/100
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:190: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:197: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:207: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:216: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:223: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

 - 10s - loss: 0.5057 - acc: 0.7310 - val_loss: 0.3720 - val_acc: 0.8384
Epoch 2/100
 - 1s - loss: 0.2218 - acc: 0.9124 - val_loss: 0.2849 - val_acc: 0.8864
Epoch 3/100
 - 1s - loss: 0.0873 - acc: 0.9752 - val_loss: 0.4210 - val_acc: 0.8528
Epoch 4/100
 - 1s - loss: 0.0231 - acc: 0.9965 - val_loss: 0.6006 - val_acc: 0.8284
Epoch 5/100
 - 1s - loss: 0.0074 - acc: 0.9994 - val_loss: 0.8565 - val_acc: 0.7852

In [13]:
model.evaluate(x_test_pad, np.array(test_df["target"]))

25000/25000 [==============================] - 1s 39us/step

[0.3307572071647644, 0.85768]